.activity-container {
  min-height: 500px;
  padding: 100px 0;
}

.activity-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about-img {
  margin-left: 250px;
  position: relative;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  filter: drop-shadow(2px 2px 5px) saturate(1);
  // background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  // box-shadow: 4px 10px 20px 1px rgba(207, 151, 53, 0.3);
  border-radius: 20px;
  transform: translateX(-80px);

  // clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-img .left {
  position: absolute;
  top: 10px;
  left: -40px;
  min-width: 80px;
  height: 80px;

  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 76%, 50% 100%, 0 75%);
  background: #003655;
  transition: 0.5s;
  //transform: translateY(-60px) translateX(100px);
  span {
    align-content: center;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: white;
    transition: 0.5s;
  }
}
.about-img .big {
  position: absolute;
  top: -45px;
  left: -10px;
  min-width: 120px;
  height: 120px;
  z-index: -1;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 76%, 50% 100%, 0 75%);
  background: #d2d5cd;
  transition: 0.5s;
  //transform: translateY(-70px);
  span {
    align-content: center;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: white;
    transition: 0.5s;
  }
}
.about-img .right {
  position: relative;
  z-index: 8;
  min-width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: #a5782a;
  transition: 0.5s;
  transform: translateY(70px) translateX(-50px);
  span {
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    align-content: center;
    position: relative;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: #cf9735;
    transition: 0.5s;
    a {
      color: #fff;
    }
  }
}

.about-img .imageTest {
  z-index: 6;
  position: relative;
  height: 100%;
  width: 100%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  object-fit: contain;
  display: block;
  opacity: 1;
  background: #0066a1;
  border-radius: 20px;
  background-color: r;
  transition: all 0.3s;
}
.activity-content {
  //padding: 30px 0;
}
.title {
  color: #003655;
  font-size: 18px;
}
.description {
  color: #0066a1;
}
@media (max-width: 950px) {
  .activity-row {
    flex-direction: column;
    align-items: center;
  }
}
