.chapters-section {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-bottom: 8rem;
}

.chapters-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // transform: translateY(80px);
}
.hexagonArea {
  display: flex;
  filter: drop-shadow(2px 2px 5px);
}
.hexagonArea.middle {
  transform: translateY(-50px);
}
.hexagonArea.last {
  transform: translateY(-100px);
}

@media (max-width: 950px) {
  .hexagonArea {
    display: inline;
  }
  .hexagonArea.middle {
    transform: translateY(0px);
  }
  .hexagonArea.last {
    transform: translateY(0px);
  }
}
