@import "../../../variables";
footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  color: white;
}
.rowf {
  display: flex;

  > * {
    flex-grow: 1;
    flex-basis: 1;
    flex-shrink: 0;
  }
}

.map {
  width: 10%;
  border: 0;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
  min-height: 300px;
}
.footer-content {
  background-color: $tersiary_color;
  background-image: url("../../images/hexaDemi2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
  margin-left: -10%;
}
p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials li a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 8px;
  border-radius: 50%;
  width: 35px;
}
.socials ul li:nth-child(1):hover .fa {
  color: #3b5998;
}

.socials ul li:nth-child(2) a:hover .fa {
  color: #0e76a8;
}

.socials ul li:nth-child(3) a:hover .fa {
  color: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}
.socials ul li:nth-child(4) a:hover .fa {
  color: #c71610;
}
.footer-menu {
  margin-bottom: 20px;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li {
  padding-right: 10px;
  display: block;
}
.link {
  color: #cfd2d6;
  border: 1.3px solid white;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
}
.link:hover {
  color: $complementary_color;
}
.footer-bottom {
  background: linear-gradient(#003655, #00466f);

  padding: 20px;
  text-align: center;
}
.footer-bottom p {
  text-align: center;
  font-size: 14px;
}

@media (max-width: 800px) {
  .rowf {
    display: block;
  }
  .map {
    clip-path: none;
    width: 100%;
  }
  .footer-menu ul {
    display: inline;
  }
  .footer-menu ul li {
    margin-bottom: 20px;
  }
}
