.hexagon-gallery {
  position: relative;
  width: 492px;
  height: 454px;
  display: grid;
  place-items: center;
}
.hexagon-gallery .hexagon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 2px 5px);
}
.hexagon-gallery .hexagon .hex {
  width: 144px;
  height: 159px;
  display: flex;
  margin: 10px;
  background: #424242;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon-gallery .hexagon:nth-child(1) {
  top: 0;
}
.hexagon-gallery .hexagon:nth-child(3) {
  bottom: 0;
}
