.list-members {
  font-family: sans-serif;
  background: #ffffff;
  width: 80%;
  margin: 4% auto;
  display: flex;
  flex-wrap: wrap;
}

.member {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.member-image {
  width: 50%;
  height: 455px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.member-image img {
  width: 100%;
  height: 100%;
  transition: 1s;
}

.member-image:hover img {
  transform: scale(1.1);
}

.member-info {
  width: 50%;
  text-align: center;
}

.member-info p {
  margin: 20px 0;
}

.social-link .fab {
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 0 7px;
  cursor: pointer;
  transition: transform 0.5s;
}
.social-link a {
  color: #000;
  text-decoration: none;
}
.social-link .fab:hover {
  background: rgba(26, 117, 236, 0.849);
  color: #ffffff;
  transform: translateY(-7px);
}

.member-image::after {
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 15px solid rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media screen and (min-width: 771px) {
  .member:nth-child(4n + 3) .member-info,
  .member:nth-child(4n + 4) .member-info {
    order: 1;
  }
  .member:nth-child(4n + 3) .member-image,
  .member:nth-child(4n + 4) .member-image {
    order: 2;
  }

  .member:nth-child(4n + 3) .member-image::after,
  .member:nth-child(4n + 4) .member-image::after {
    left: 0;
    right: auto;
    transform: translateY(-50%) rotateZ(180deg);
  }
}

@media screen and (max-width: 770px) {
  .list-members {
    width: 95%;
  }
  .member {
    flex-basis: 100%;
    font-size: 14px;
  }
  .social-link .fab {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .member:nth-child(even) .member-info {
    order: 1;
  }
  .member:nth-child(even) .member-image {
    order: 2;
  }

  .member:nth-child(even) .member-image::after {
    left: 0;
    right: auto;
    transform: translateY(-50%) rotateZ(180deg);
  }
}

@media screen and (max-width: 768px) {
  .member-image {
    height: 210px;
  }
}

@media screen and (max-width: 1366px) and (min-width: 1024px){
  .member-image {
    height: 290px;
  }
}

@media screen and (max-width: 768px) {
  .social-link .fab {
    width: 25px;
    height: 25px;
  }
}
