$buttonColor: #014e7a94;

$titleColor: #000000;
$textColor: #000000;

$textDark: #ffffff;

$sliderDark: #0389d6;
$sliderLight: #0389d6;

$lightBG: #fff;
$darkBG: #223438;

$headerHoverBG: #f4f4f4;

$iconBackground: #333;

